/* mobile first approach */
body.crew { 
    background: url('../../assets/crew/background-crew-mobile.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.crew-header {
    font-family: var(--font-subheading);
    color: var(--color-heading);
    font-size: 1rem;
    letter-spacing: 2.7px;
    text-align: center;
}

.crew__body--flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    min-height: 65vh;
    justify-content: space-between;
}

.crew__img--container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.crew__img--container > img {
    width: 12.5rem;
    height: 14rem;
    z-index: -1;
}

.crew__hr {
    width: 100%;
}

.crew__button-container {
    margin: 1.3rem 0;
}

.crew__button {
   width: 0.625rem; 
   height: 0.625rem;
   border-radius: 50%;
   background-color: var(--color-heading2);
}

.crew__details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.crew__position {
    font-family: var(--font-heading);
    color: var(--color-heading2);
    font-size: 1rem;
}

.crew__name {
    font-family: var(--font-heading);
    color: var(--color-heading);
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.crew__description {
    font-family: var(--font-subheading);
    color: var(--color-subheading);
    text-align: center;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 1px;
}

/* when width gets larger than 481px and smaller than 1304px */
@media only screen and (max-width: 1304px) and (min-width: 600px) {
    /* For Small iPads, tablets: */
    body.crew {
        background: url('../../assets/crew/background-crew-tablet.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
        background-size: cover;
    }

    .crew-header {
        text-align: start;
        margin-top: 2rem;
        margin-left: 2.5rem;
        font-size: 1.25rem;
    }

    .crew__body--flex {
        flex-direction: column-reverse;
        justify-content: flex-end;
        margin: 1rem 8rem;
    }

    .crew__position {
        font-size: 1.5rem;
    }

    .crew__name {
        font-size: 2.5rem;
    }

    .crew__description {
        line-height: 180%;
        font-size: 1.15rem;
    }

    .crew__button {
        margin: 0 1rem;
    }

    .crew__img--container > img {
        width: 28rem;
        height: 30rem;
        position: absolute;
        bottom: 0;
    }

    .crew__hr {
        display: none;
    }
}

/* when width gets larger than 1024px and smaller than 1304px */
@media only screen and (max-width: 1304px) and (min-width: 1024px) {

    .crew-header {
        font-size: 1.75rem;
    }

    .crew__body--flex {
        margin: 4rem 12rem;
    }

    .crew__position {
        font-size: 2rem;
    }

    .crew__name {
        font-size: 3.5rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    .crew__description {
        line-height: 200%;
        font-size: 1.5rem;
    }

    .crew__img--container > img {
        height: 35rem;
    }
}

/* when width gets larger than 1305px */
@media only screen and (min-width: 1305px) {
    /* For laptop, desktops */
    body.crew {
        background: url('../../assets/crew/background-crew-desktop.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        padding-left: 3.475rem;
        padding-top: 2.5rem;
    }

    .crew-header {
        font-size: 1.75rem;
        text-align: start;
        margin-left: 2rem;
        margin-top: 3rem;
    }

    .crew__body--flex {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 7rem;
    }

    .crew__details {
        align-items: flex-start;
        width: 40%;
    }

    .crew__position {
        font-size: 2rem;
    }

    .crew__name {
        font-size: 3.5rem;
    }

    .crew__description {
        font-size: 1.2rem;
        text-align: start;
        padding-right: 7rem;
    }

    .crew__img--container > img {
        width: 32rem;
        height: 42rem;
        position: absolute;
        bottom: 0;
        right: 5rem;
    }

    .crew__hr {
        display: none;
    }
}

/* when width gets larger than 1800px */
@media only screen and (min-width: 1800px) {
    /* For large desktop, laptop */
    body.crew {
        background: url('../../assets/crew/background-crew-desktop.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        padding-left: 3.475rem;
        padding-top: 2.5rem;
    }

    .crew-header {
        padding-left: 5rem;
    }

    .crew__body--flex {
        padding-left: 5rem;
        max-height: 100%;
        flex-wrap: wrap;
    }

    .crew__details {
        width: 40%;
    }

    .crew__img--container {
        max-width: 40%;
    }

    .crew__img--container > img {
        right: 20rem;
    }
}