/* mobile first approach */
body.home { 
    background: url('../../assets/home/background-home-mobile.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home--flex-container {
    display: flex;
    margin-top: 2.5rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 80vh;
}

.home__firstSentence {
    color: var(--color-subheading);
    font-family: var(--font-text);
    font-size: 16px;
    letter-spacing: 4.75px;
    text-align: center;
}

.home__space {
    color: var(--color-heading);
    font-family: var(--font-heading);
    font-size: 90px;
    text-align: center;
    margin: 0.5rem 0;
}

.home__paragraph {
    color: var(--color-subheading);
    font-family: var(--font-text);
    font-size: 16px;
    letter-spacing: 0.75px;
    text-align: center;
    margin: 0 2rem;
    line-height: 150%;
}

.home__explore--flex-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 200px;
    color: black;
    font-family: var(--font-heading);
    background-color: white;
    font-size: 32px;
    border-radius: 50%;
}

/* when width gets larger than 481px and smaller than 768px */
@media only screen and (max-width: 1304px) and (min-width: 600px) {
    /* For Small iPads, tablets: */
    body.home {
        background: url('../../assets/home/background-home-tablet.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .home__firstSentence {
        margin-top: 3rem;
        font-size: 1.25rem;
    }

    .home__space {
        font-size: 9.4rem;
    }

    .home__paragraph {
        margin: 0 5rem;
        letter-spacing: 1.5px;
        line-height: 180%;
    }
}

/* when width gets larger than 1305px */
@media only screen and (min-width: 1305px) {
    body.home {
        background: url('../../assets/home/background-home-desktop.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        padding-left: 3.475rem;
        padding-top: 2.5rem;
    }

    .home--flex-container {
        flex-direction: row;
        min-height: 70vh;
        margin: 0 8rem;
        align-items: flex-end;
    }

    .home__firstSentence {
        font-size: 1.75em;
        text-align: start;
    }

    .home__space {
        font-size: 9.4em;
        text-align: start;
    }

    .home__paragraph {
        font-size: 1.25rem;
        text-align: start;
        margin-left: 0;
        max-width: 24em;
        line-height: 180%;
        letter-spacing: 1px;
    }

    .home__text {
        flex: 1 2;
    }

    .home__explore--flex-container2 {
        height: 31.68vh;
        width: 31.68vh;
        max-height: 300px;
        max-width: 300px;
        margin-right: 2rem;
    }
}

/* when width gets larger than 1800px */
@media only screen and (min-width: 1800px) {
    body.home {
        background: url('../../assets/home/background-home-desktop.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        padding-left: 3.475rem;
        padding-top: 2.5rem;
    }

    .home--flex-container {
        margin: 0 10rem;
    }

    .home__firstSentence {
        font-size: 1.9rem;
        text-align: start;
    }

    .home__space {
        font-size: 10rem;
        text-align: start;
        margin: 2rem 0;
    }

    .home__paragraph {
        font-size: 1.4rem;
        text-align: start;
        margin-left: 0;
        max-width: 25em;
        line-height: 180%;
        letter-spacing: 1px;
    }

    .home__explore--flex-container2 {
        max-width: 350px;
        max-height: 350px;
        font-size: 40px;
    }
}