a {
    color: var(--color-heading);
    font-family: var(--font-subheading);
    font-size: 18px;
    letter-spacing: 2.7px;
    text-decoration: none;
    cursor: pointer;
    margin: 0 0.1rem;
}

img {
    margin-left: 2rem;
    margin-top: 2rem;
    margin-right: 2rem;
}

strong {
    color: var(--color-heading);
    margin-right: 5px;
}

hr {
    border: 0px;
    height: 1px;
    background-color: gray;
    opacity: 0.5;
    margin-right: -2rem;
    z-index: 1;
}

/* set navbar to flex container */
.navbar--flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.navbar__nav--blur {
    /* blur nav div */
	-webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    
    /* give opacity to bg color only */
    background:rgba(255, 255, 255, 0.03);
}

.navbar2--hide-items {
    /* mobile first -- hide navbar2 in mobile*/
    display: none;
}

/* when width gets larger than 768px */
@media only screen and (min-width: 769px) {
    /* For desktops, laptops: */
    .navbar--flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* show hidden navbar2 and set flex grow/shrink value as flex item of navbar flex container*/
    .navbar2--hide-items {
        display: flex;
        align-items: center;
        flex: 1;
    }

    /* make hr grow or shrink by setting flex value as flex item of navbar2 flex container */
    .navbar2__hr--flex-item {
        flex: 1;
    }

    /* make nav grow but not shrink as flex item of navbar2 flex container*/
    .navbar2__nav--flex-item {
        flex: 2 0;
    }

    .nav__links--flex {
        display: flex;
        justify-content: space-around;
    }

    /* set margina around nav-links */
    .nav__links {
        margin: 3rem;
    }

    /* remove img margin for Small screens, laptops: */
    img {      
        margin-left: 0;
        margin-top: 0;
        margin-right: 2rem;
    }

    /* remove menu bar */
    .navbar__menu--display {
        display: none;
    }
}

/* when width gets larger than 481px and smaller than 768px */
@media only screen and (max-width: 768px) and (min-width: 481px) {
    /* For Small iPads, tablets: */
    .navbar--flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

   /* show hidden navbar2 and set flex grow value as flex item of navbar flex container*/
   .navbar2--hide-items {
       display: flex;
       align-items: center;
       flex: 2 0;
   }

   /* set flex value of image container flex-item */
   .navbar__img-container--flex-item {
       flex: 1;
   }

   /* set flex value of navbar2 container flex-item */
   .navbar2__nav--flex-item {
        flex: 1;
    }

    /* remove numbers on links */
   strong {
       display: none;
   }

   /* remove left and right margin */
   .nav__links {
        margin: 3rem 0;
    }

   .nav__links--flex{
       display: flex;
       justify-content: space-around;
   }

   /* remove menu bar */
   .navbar__menu--display {
        display: none;
    }
}