a {
    color: var(--color-subheading);
    font-family: var(--font-subheading);
    font-size: 16px;
    letter-spacing: 2.7px;
    text-decoration: none;
    cursor: pointer;
    margin: 0 3.125rem;
}

strong {
    color: var(--color-heading);
    margin-right: 5px;
}

hr.navbar__hr {
    border: 0px;
    height: 1px;
    background-color: gray;
    opacity: 0.5;
    width: 30rem;
    margin-right: -8rem;
    z-index: 1;
}

div.navbar__nav--blur {
    /* blur nav div */
	-webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    
    /* give opacity to bg color only */
    background:rgba(255, 255, 255, 0.03);
}

.navbar--flex-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.nav__links {
    margin: 3rem 8rem;
}

@media only screen and (min-width: 1800px) {
    /* For desktop: */
    hr.navbar__hr {
        border: 0px;
        height: 1px;
        background-color: gray;
        opacity: 0.5;
        width: 42rem;
        margin-right: -8rem;
        z-index: 1;
    }
}
