a {
    color: var(--color-heading);
    font-family: var(--font-subheading);
    font-size: 18px;
    letter-spacing: 2.7px;
    text-decoration: none;
    cursor: pointer;
}

img.navbar__img {
    margin-left: 2rem;
    margin-top: 2rem;
    margin-right: 2rem;
}

img.menu-logo {
    margin-left: 2rem;
    /* modify to 3rem to align menu-logo with the logo */
    margin-top: 3rem;
    margin-right: 2rem;
}

strong {
    color: var(--color-heading);
    margin-right: 5px;
}

hr {
    border: 0px;
    height: 1px;
    background-color: gray;
    opacity: 0.5;
}

.navbar2__hr {
    margin-right: -2rem;
    z-index: 1;
}

/* set navbar to flex container */
.navbar--flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.navbar__nav--blur {
    /* blur nav div */
	-webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    
    /* give opacity to bg color only */
    background:rgba(255, 255, 255, 0.03);
}

.navbar__menu--blur {
    /* blur nav div */
	-webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    
    /* give opacity to bg color only */
    background:rgba(255, 255, 255, 0.05);
}

/* set navbar menu as flex container and position it absolute so it do not interfere with other component/elements*/
.navbar__menu--flex-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    /* set to 100% to extend to bottom*/
    min-height: 100%;
}

.menu__links--flex-container {
    display: flex;
    flex-direction: column;
    margin: 3rem 4rem 0 2rem;
    row-gap: 2.5rem;
}

/* keep close icon in its original position when toggling menu-icon */
.navbar__menu--flex-item {
    align-self: flex-end;
}

.navbar2--hide-items {
    /* mobile first -- hide navbar2 in mobile*/
    display: none;
}

/* when width gets larger than 481px and smaller than 1304px */
@media only screen and (max-width: 1304px) and (min-width: 600px) {
    /* For Small iPads, tablets: */
    .navbar--flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

   /* show hidden navbar2 and set flex grow value as flex item of navbar flex container*/
   .navbar2--hide-items {
       display: flex;
       align-items: center;
       /* flex: 1; */
       width: 60%;
   }

   /* set flex value of navbar2 container flex-item */
   .navbar2__nav--flex-item {
        flex: 2 0;
    }

    /* remove numbers on links */
   strong.navbar__num {
       display: none;
   }

   /* remove left and right margin */
   .nav__links {
        margin: 3rem 0.5rem;
    }

   .nav__links--flex{
       display: flex;
       justify-content: space-around;
   }

   /* remove menu bar */
   .navbar__menu--display {
        display: none;
    }
}

/* when width gets larger than 1305px */
@media only screen and (min-width: 1305px) {
    /* For desktops, laptops: */
    .navbar--flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* show hidden navbar2 and set flex grow/shrink value as flex item of navbar flex container*/
    .navbar2--hide-items {
        display: flex;
        align-items: center;
        flex: 1;
    }

    /* make hr grow or shrink by setting flex value as flex item of navbar2 flex container */
    .navbar2__hr--flex-item {
        flex: 1;
    }

    /* make nav grow but not shrink as flex item of navbar2 flex container*/
    .navbar2__nav--flex-item {
        flex: 2 0;
    }

    .nav__links--flex {
        display: flex;
        justify-content: space-around;
    }

    /* set margins around nav-links */
    .nav__links > a {
        padding: 3rem 0;
    }

    .nav_underline {
        border-bottom: solid 3px white;
    }

    /* remove img margin for Small screens, laptops: */
    img {      
        margin-left: 0;
        margin-top: 0;
        margin-right: 2rem;
    }

    img.navbar__img {
        margin-top: 0;
    }

    /* remove menu bar */
    .navbar__menu--display {
        display: none;
    }

    .navbar-home__hr {
        margin-top: 3rem;
        height: 2px;
        background-color: white;
    }

    .navbar-home__hr--show {
        opacity: 1;
    }

    .navbar-home__hr--hide {
        opacity: 0;
    }
}