/* mobile first approach */
body.technology { 
    background: url('../../assets/technology/background-technology-mobile.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.technology__header {
    font-family: var(--font-subheading);
    color: var(--color-heading);
    text-align: center;
    font-size: 1rem;
    letter-spacing: 2.7px;
    margin: 2rem 0;
}

.technology__flex-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 70vh;
    justify-content: space-between;
}

.technology__img-container > img {
    max-width: 100%;
}

.portrait {
    display: none;
}

.button__flex-container {
    margin: 1rem 0;
}

.technology__button {
    min-height: 3.5rem;
    min-width: 3.5rem;
    border: solid 0.2px gray ;
    border-radius: 50%;
    font-family: var(--font-heading);
    color: var(--color-heading);
    font-size: 1.5rem;
}

.details__flex-container {
    min-height: 35vh;
}

.terminology {
    font-family: var(--font-subheading);
    color: var(--color-subheading);
    font-size: 1rem;
    letter-spacing: 2.36px;
}

.technology__name {
    font-family: var(--font-heading);
    color: var(--color-heading);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0.75rem;
}

.description {
    font-family: var(--font-subheading);
    color: var(--color-subheading);
    font-size: 1rem;
    line-height: 170%;
    padding: 0 1.5rem;
}

/* return this div if button is selected otherwise return a number, refer to Technology.jsx conditional render using ternary( denoted by ?) operator */
.technologyFillDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: white;
    color: black;
}

/* when width gets larger than 481px and smaller than 1023px */
@media only screen and (max-width: 1024px) and (min-width: 600px) {
    /* For Small iPads, tablets: */
    body.technology {
        background: url('../../assets/technology/background-technology-tablet.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
        background-size: cover;
    }

    .technology__header {
        font-size: 1.25rem;
        text-align: start;
        margin-left: 2rem;
    }

    .technology__img-container > img {
        width: 100%;
    }

    .portrait {
        display: none;
    }

    .technology__button {
        min-width: 4rem;
        min-height: 4rem;
        font-size: 1.5rem;
    }

    .details__flex-container {
        min-height: 25vh;
    }

    .technology__name {
        font-size: 2.5rem;
    }

    .description {
        padding: 0 8rem;
    }

    /* return this div if button is selected otherwise return a number, refer to Technology.jsx conditional render using ternary( denoted by ?) operator */
    .technologyFillDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-color: white;
        color: black;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1304px) {
    /* For iPads with large screen: */
    .technology__header {
        font-size: 2rem;
        text-align: start;
        margin-left: 2rem;
    }

    .technology__img-container > img {
        width: 100%;
    }

    .technology__button {
        min-width: 5rem;
        min-height: 5rem;
        font-size: 2.2rem;
    }

    .details__flex-container {
        min-height: 25vh;
    }

    .terminology {
        font-size: 1.5rem;
    }

    .technology__name {
        font-size: 3.5rem;
    }

    .description {
        font-size: 1.5rem;
        padding: 0 8rem;
    }
    
    /* return this div if button is selected otherwise return a number, refer to Technology.jsx conditional render using ternary( denoted by ?) operator */
    .technologyFillDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-color: white;
        color: black;
    }

}

/* when width gets larger than 768px */
@media only screen and (min-width: 1305px) {
    /* For laptop, desktops */
    body.technology {
        background: url('../../assets/technology/background-technology-desktop.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        padding-left: 3.475rem;
        padding-top: 2.5rem;
    }

    .technology__header {
        font-size: 1.75rem;
        text-align: start;
        margin-left: 7rem;
    }

    .landscape {
        display: none;
    }

    .portrait {
        min-width: 32rem;
        min-height: 33rem;
        display: block;
        margin: 0;
    }

    .technology__flex-container {
        flex-direction: row-reverse;
        align-items: center;
        gap: 2.5rem;
    }

    .button__flex-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        order: 1;
        margin-left: 5rem;
    }

    .technology__button {
        min-width: 3.5rem;
        min-height: 3.5rem;
        font-size: 1.5rem;
    }

    .details__flex-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        text-align: start;
        justify-content: center;
    }

    .terminology {
        font-size: 1rem;
    }

    .technology__name {
        font-size: 3.5rem;
    }

    .description {
        padding: 0;
        font-size: 1.125rem;
    }
}

/* when width gets larger than 1900px */
@media only screen and (min-width: 1600px) {
    /* For large desktop, laptop */
    body.technology {
        background: url('../../assets/technology/background-technology-desktop.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        padding-left: 3.475rem;
        padding-top: 2.5rem;
    }

    .technology__flex-container {
        gap: 5rem;
    }

    .portrait {
        min-width: 35rem;
        min-height: 36rem;
    }

    .button__flex-container {
        margin-left: 7rem;
    }

    .description {
        padding-right: 10rem;
    }
}