/* mobile first approach */
body.destination { 
    background: url('../../assets/destination/background-destination-mobile.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* when width gets larger than 481px and smaller than 768px */
@media only screen and (max-width: 768px) and (min-width: 481px) {
    /* For Small iPads, tablets: */
    body.destination {
        background: url('../../assets/destination/background-destination-tablet.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
        background-size: cover;
    }
}

/* when width gets larger than 768px */
@media only screen and (min-width: 769px) {
    /* For laptop, desktops */
    body.destination {
        background: url('../../assets/destination/background-destination-desktop.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        padding-left: 3.475rem;
        padding-top: 2.5rem;
    }
}

/* when width gets larger than 1900px */
@media only screen and (min-width: 1900px) {
    /* For large desktop, laptop */
    body.destination {
        background: url('../../assets/destination/background-destination-desktop.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        padding-left: 3.475rem;
        padding-top: 2.5rem;
    }
}