/* mobile first approach */
body.destination { 
    background: url('../../assets/destination/background-destination-mobile.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.destination__flex-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
    min-height: 80vh;
}

.destination__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destination__heading {
    font-family: var(--font-subheading);
    color: var(--color-heading);
    letter-spacing: 2.7px;
}

.destination__img {
    width: 12.5rem;
    margin-top: 1.5rem;
}

.destination__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background: none;
    border: none;
    font-family: var(--font-subheading);
    color: var(--color-subheading);
    letter-spacing: 2.36px;
    margin: 0 0.5rem;
}

.destination__name {
    font-family: var(--font-heading);
    color: var(--color-heading);
    font-size: 3.5rem;
    margin-top: 1.5rem;
}

.destination_description {
    font-family: var(--font-subheading);
    color: var(--color-subheading);
    font-size: 0.94rem;
    text-align: center;
    letter-spacing: 1px;
    line-height: 150%;
}

.destination__hr {
    z-index: -1;
    width: 100%;
    margin: 1rem 0;
}

.destination__lower {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.destination__avg-distance > p, .destination__travel-time > p{
    font-family: var(--font-subheading);
    color: var(--color-subheading);
    font-size: 0.94rem;
    text-align: center;
    margin-top: 1rem;
}

.destination__avg-distance > div, .destination__travel-time > div{
    font-family: var(--font-heading);
    color: var(--color-heading);
    font-size: 1.75rem;
    text-align: center;
}

/* when width gets larger than 481px and smaller than 768px */
@media only screen and (max-width: 768px) and (min-width: 481px) {
    /* For Small iPads, tablets: */
    body.destination {
        background: url('../../assets/destination/background-destination-tablet.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
        background-size: cover;
    }
}

/* when width gets larger than 768px */
@media only screen and (min-width: 769px) {
    /* For laptop, desktops */
    body.destination {
        background: url('../../assets/destination/background-destination-desktop.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        padding-left: 3.475rem;
        padding-top: 2.5rem;
    }
}

/* when width gets larger than 1900px */
@media only screen and (min-width: 1900px) {
    /* For large desktop, laptop */
    body.destination {
        background: url('../../assets/destination/background-destination-desktop.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        padding-left: 3.475rem;
        padding-top: 2.5rem;
    }
}