* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html { 
    /* mobile first approach */
    background: url('./assets/home/background-home-mobile.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media only screen and (min-width: 769px) {
    /* For Small screens, laptops: */
    html {
        background: url('./assets/home/background-home-desktop.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        padding-left: 3.475rem;
        padding-top: 2.5rem;
    }
}

@media only screen and (min-width: 481) {
    /* For iPads, Tablets: */
    html {
        background: url('./assets/home/background-home-tablet.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}